/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Colores y fuente */
:root {
    --color-uno: #CED4DA;
    --color-dos: #FFFFFF;
    --color-tres: #0A3871; 
    --color-cuatro: #495057;
    --color-hover: #D8DFE8;

    --color-btn-uno:#072549;
    --color-btn-dos:#c1c5ca;
    --fuente-Inter: "Inter", sans-serif;
}

/* General */
* {
    padding: 0;
    margin: 0;
}

/* Cuerpo de la pagina */
body {
    font-family: var(--fuente-Inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-uno);
}

/* Seccion main */
.main_web {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 40px;
}

/* Logo de alura */
.alura_logo {
    margin-right: auto;
    width: auto;
    height: auto;
}

/* Seccion input */
.section_input {
    width: 680px;
    height: 90vh;
    position: relative;
    padding-top: 128px;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    color: var(--color-tres);
    font-size: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-family: var(--fuente-Inter);
    height: calc(1.5em * 7);
}

.textarea::placeholder {
    color: var(--color-tres);
}

.main_info {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    bottom: 115px;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
}

.svg_info {
    width: 16px;
    height: 16px;
    margin-right: 8px; 
}

.p_info {
    margin: 0;
    font-family: var(--fuente-Inter);
}

.main_button {
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

.encriptar_btn {
    background-color: var(--color-tres);
    border-color: var(--color-uno);
    color: var(--color-uno);
}

.desencriptar_btn {
    background-color: var(--color-hover);
    border-color: var (--color-tres);
    color: var(--color-tres);
}

.encriptar_btn, .desencriptar_btn {
    flex: 1;
    font-size: 16px;
    height: 67px;
    margin: 0 12px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    border: 1px solid;
}

.encriptar_btn:active {
    background-color: var(--color-btn-uno);
    color: var(--color-uno);
}

.desencriptar_btn:active {
    background-color: var(--color-btn-dos);
    color: var(--color-tres);
}

.encriptar_btn:focus, .encriptar_btn:active,
.desencriptar_btn:focus, .desencriptar_btn:active {
    outline: none;
    box-shadow: none;
}

.encriptar_btn:first-child {
    margin-left: 0;
}

.desencriptar_btn:last-child {
    margin-right: 0;
}

/* Seccion output */
.section_output {
    width: 400px;
    min-height: 90vh;
    background-color: var(--color-dos);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.section_output img {
    width: 336px;
    height: 304px;
    margin-bottom: 32px;
}

.p_title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.p_subtitle {
    font-size: 16px;
}

/* Parrafo creado con js */
.nuevo_parrafo {
    font-size: 24px;
    color: var(--color-tres);
    margin: 0 0 32px 0;
    text-align: left;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}
/* Boton creado con js */
.nuevo_btn {
    font-size: 16px;
    width: 100%;
    height: 67px;
    background-color: var(--color-dos);
    border: 1px solid var(--color-tres);
    color: var(--color-tres);
    border-radius: 24px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: auto;
    box-sizing: border-box;
}

.nuevo_btn:focus, .nuevo_btn:active {
    outline: none;
    box-shadow: none;
}

.nuevo_btn:active {
    background-color: var(--color-btn-dos);
    color: var(--color-tres);
}

/* Footer */ 
.footer_rodapie {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color:var(--color-dos);
}

.p_footer {
    font-family: var(--fuente-Inter);
    margin: 0;
    font-size: 16px;
}

.footer_rodapie div {
    margin-top: 10px;
}

.footer_rodapie a {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.p_img {
    width: 30px;
    height: 30px;
    display: block;
}

/* Media Query */ 
@media (max-width: 1000px) {
    .main_web {
        flex-direction: column;
        gap: 32px;
    }

    .section_input {
        height: 70vh;
    }

    .textarea {
        height: calc(1.5em * 12);
    }
  
    .section_input, .section_output {
        width: 100%;
        padding: 32px;
        box-sizing: border-box;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
  
    .section_output img {
        display: none;
    }
}

@media (max-width: 500px) {
    .section_input {
        height: auto;
        min-height: 60vh;
    }

    .textarea {
        height: calc(1.5em * 7);
    }

    .main_button {
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptar_btn, .desencriptar_btn {
        width: 100%;
        height: 67px;
        margin: 0;
        margin-bottom: 24px;
        height: 67px;
    }

    .desencriptar_btn:last-child {
        margin-bottom: 0;
    }

    .main_info {
        bottom: 250px;
    }
}