@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-uno: #CED4DA;
    --color-dos: #FFFFFF;
    --color-tres: #0A3871; 
    --color-cuatro: #495057;
    --color-hover: #D8DFE8;

    --color-btn-uno:#072549;
    --color-btn-dos:#c1c5ca;
    --fuente-Inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body {
    font-family: var(--fuente-Inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-uno);
}

.main_web {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 40px;
}

.alura_logo {
    margin-right: auto;
    width: auto;
    height: auto;
}

.section_input {
    width: 680px;
    height: 100vh;
    position: relative;
    padding-top: 128px;
    box-sizing: border-box;
}

.textarea {
    width: calc(100% - 0px);
    color: var(--color-tres);
    font-size: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    white-space: pre-wrap; /* Permite el salto de línea */
    font-family: var(--fuente-Inter);
    height: calc(1.5em * 7);
}

.textarea::placeholder {
    color: var(--color-tres);
}

.main_info {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    bottom: 115px; /* Altura de los botones (67px) + margen inferior (32px) + separación (16px) */
    width: 100%;
    padding: 0 12px; /* Asegura que el contenido no toque los bordes */
    box-sizing: border-box;
}

.svg_info {
    width: 16px;
    height: 16px;
    margin-right: 8px; /* Espacio entre el SVG y el texto */
}

.p_info {
    margin: 0;
    font-family: var(--fuente-Inter);
}

.main_button {
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}
.encriptar_btn {
    background-color: var(--color-tres);
    border-color: var(--color-uno);
    color: var(--color-uno);
}

.desencriptar_btn {
    background-color: var(--color-hover);
    border-color: var(--color-tres);
    color: var(--color-tres);
}
.encriptar_btn, .desencriptar_btn {
    flex: 1;
    font-size: 16px;
    height: 67px;
    margin: 0 12px; /* Margin to get 24px between the buttons */
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    border: 1px solid; /* Mantén el borde con colores */
}

.encriptar_btn:active {
    background-color: var(--color-btn-uno);
    color: var(--color-uno);
}

.desencriptar_btn:active {
    background-color: var(--color-btn-dos);
    color: var(--color-tres);
}

.encriptar_btn:focus, .encriptar_btn:active,
.desencriptar_btn:focus, .desencriptar_btn:active {
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove box-shadow */
}

.encriptar_btn:first-child {
    margin-left: 0;
}

.desencriptar_btn:last-child {
    margin-right: 0;
}


.section_output {
    width: 400px;
    height: 100vh;
    background-color: var(--color-dos);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Añade position: relative para posicionar el nuevo párrafo */
}

.section_output .nuevo_parrafo {
    position: absolute; /* Posiciona el nuevo párrafo en relación a la sección */
    top: 32px; /* Separa el párrafo del borde superior */
    left: 32px; /* Separa el párrafo del borde izquierdo */
    width: calc(100% - 64px); /* Ajusta el ancho para el padding */
}


.section_output img {
    width: 336px;
    height: 304px;
    margin-bottom: 32px; /* Espacio entre la imagen y el primer párrafo */
}

.p_title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px; /* Espacio entre los párrafos */
}

.p_subtitle {
    font-size: 16px;
}

.nuevo_parrafo {
    font-size: 24px;
    color: var(--color-tres);
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 32px; /* Añade el padding para separar el texto del borde */
    text-align: left;
    background-color: transparent; /* Fondo transparente */
    width: calc(100% - 64px); /* Ajusta el ancho para el padding */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el tamaño */
}

.nuevo_btn {
    position: absolute;
    font-size: 16px;
    bottom: 32px; /* Separa el botón del borde inferior */
    left: 32px; /* Separa el botón del borde izquierdo */
    width: calc(100% - 64px); /* Ajusta el ancho para el padding */
    height: 67px; /* Altura del botón */
    background-color: var(--color-dos);
    border: 1px solid var(--color-tres);
    color: var(--color-tres);
    border-radius: 24px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.nuevo_btn:focus, .nuevo_btn:active {
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove box-shadow */
}

.nuevo_btn:active {
    background-color: var(--color-btn-dos);
    color: var(--color-tres);
}