@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-uno: #CED4DA;
    --color-dos: #FFFFFF;
    --color-tres: #0A3871; 
    --color-cuatro: #495057;
    --color-hover: #D8DFE8;

    --fuente-krona: "Inter", sans-serif;;
}

* {
    padding: 0;
    margin:0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-uno);
}

.main_web {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 40px;
}

.alura_logo {
    margin-right: auto;
    width: auto;
    height: auto;
}

.section_input {
    width: 680px;
    height: auto; /* Ajusta según el contenido */
}

.section_output {
    width: 400px;
    height: 944px; /* Ajusta según el contenido */
    background-color: var(--color-dos);
}